{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}


{%block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card col-md-12 text-center" style="box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19); font-size: large; max-width: 50rem;margin-left: 20px; margin-top: none;">
        <div class="card-header">
          <br>
          <h3>TITLE : {{the_pitch.pitch_title}}</h3>
        </div>
        <hr>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{the_pitch.pitch_post}}</p>
            <hr>
            <br>
            <p>category : {{the_pitch.pitch_category}}</p>
            <footer class="blockquote-footer">Posted on {{the_pitch.posted.strftime('%Y-%m-%d') }}   by {{the_pitch.user.username}} </footer>
          </blockquote>
        </div>
      </div>
      <hr>
      <br>
    </div>
  </div>
</div>
<hr>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-9">
   {%if comments %}
   <h1>Comments for this post </h1>
        {% for post_c in comments%}
        
        <ul>
          <li>
            <p><b>{{post_c.comment}}</b></p>
            <p>posted by {{post_c.user_comment.username}}</p>
          </li>
        </ul>
        <br><br><br>
        {%endfor%}
   {%else%}  
   
   <h1>Comments for this pitch are not available yet</h1>
   
   {%endif%}

    </div>
    <div class="col-md-3">

      {{wtf.quick_form(comment_form)}}

    </div>
  </div>
</div>

{% endblock%}